// colors
$color-light: #f8f9fa;
$color-dark:#343a40;
$color-warning:#ffc107;
$color-secondary:#6c757d;

//spacing

$spacing-xlarge:10rem;
$spacing-large: 6rem;
$spacing-medium: 4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

//font family

$font-principal: 'noto sans';
$font-secondary: 'alegreya sans';
$font-alternative: 'karla';

//font size

$text-xlarge: 3em;
$text-large: 2.4em;
$text-medium: 1.6em;
$text-small: 1em;
$text-xsmall: 0.6em;
$text-xxsmall: 0.2em;

//media query

$vista:mobile;